h1{
text-align: center;
font-family: Kablammo, cursive;
color: darkblue;
font-size: 3em;
text-shadow: 0px 0px 4px  rgb(231, 211, 0), 0px 0px 7px color grey, 0px 0px 10px color blue;
}
.top{
    background-color: #98c4ec;
    height: 35px;
}
.menu-item{
    background-color: #98c4ec;
    margin: 3px;
    padding: 10px;
    text-align: center;
}
a{
    font-size: 1.2em;
    text-decoration: none;
    color: darkblue;
    font-family: Kablammo, cursive;
  transition: 0.5px;
}

  a:hover{
    letter-spacing: 5px;
  }
  
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img{
width: 80%;
margin: 20px;
}